{% extends "mainapp_base.html" %}

{% block content %}
<h1>Artist info</h1>
<div class="info-text">
  <p class="info-image"><img src="/static/artist-info/me-at-rollright-stones.jpg" alt="Artist Header" title="Artist Header"></p>
  <p>Wendy Andrew has painted and drawn since she was very young. She went to life-drawing classes with her professional artist father from the age of six!</p>
  <p>Wendy attained a degree in fine art at Cheltenham in 1979.</p>
  <p>In 1980 Wendy's first son, Peter was born followed in 1983 by Jacob. So being a Mum took up most of the next few years! Although Wendy still managed to find some painting time staging several exhibitions and working on a number of greetings card projects.</p>
  <p>In 1989 Wendy's professional painting career began and she produced many beautiful wildlife paintings during this time. Much of her work was internationally reproduced as cards, jigsaw puzzles, trays, kitchenware, tins, collectors plates etc. Gradually Wendy's love of The Goddess, mythology and the ‘old ways’ found expression in her work. Over the last few years Wendy has become internationally recognized for her exquisite Goddess and mythological paintings. Her paintings are in collections worldwide.</p>
  <p>Wendy's paintings can be seen reproduced as prints and cards as well as in various publications including ‘Wicca and Witchcraft’ magazine, ‘The Pagan Wheel’, ‘Spirit and Destiny’, ‘The Bardic handbook’ by Kevan Manwaring published by Gothic Image, ‘The Personality Profiler’ by Claire Gordon published by Carroll &amp; Brown Ltd, ‘Fairies 101’ by Doreen Virtue published by Hay House, and ‘Pentacle’ magazine Summer 2007. Also in Doreen Virtue's Goddess oracle cards and Unicorn oracle cards.</p>
  <p>The original of Wendy's Goddess wheel of the Year can be seen in the Goddess Temple in Glastonbury. (<a href="http://www.goddesstemple.co.uk" target="_blank">www.goddesstemple.co.uk</a>) Here is a photo of the painting in creation!</p>
  <p class="info-image"><img src="/static/artist-info/wheel_painting.jpg" alt="Wheel Painting" title="Wheel Painting"></p>
  <p>Wendy works mainly in watercolour, but she also uses oil, acrylic and pastel.</p>
  <p>Wendy says &ldquo;<i>The shimmering beauty of the natural world inspires me and the dream-like realms of myth are my passion.</i></p>
  <p><i>Once upon a timeless time we enter the misty realms of long ago and forever. Here the ancient stories are told that teach us of the cylic nature of life... of the beneficence of Mother Earth, Her strength and Her fragility of the battles and harmonies between male and female... and on and on... This is the timeless time of our inner knowing and here life truths are known.</i></p>
  <p><i>My wish is that my paintings will act as portals through which you, the viewer, can enter these mythic realms and be enriched by what you find there...</i>&rdquo;</p>
  <p class="info-image"><span>Imbolc at Chalice Well</span><br/><img src="/static/artist-info/chalice_well_imbolc.jpg" alt="Chalice Well at Imbolc" title="Chalice Well at Imbolc"></p>
</div>
{% endblock %}
