{% extends "mainapp_base.html" %}

{% block content %}
<h1>Delivery info</h1>
<div class="main-content info-text">
  <div class="stand-out">
    <h2>Please note</h2>
    <p>Due to the Covid situation some orders are taking much longer than usual to arrive.</p>
    <p>Please allow up to two weeks for UK orders and up to six weeks for international orders.</p>
  </div>
  <h2>UK orders</h2>
  <p>If your order has not arrived within 1 week, please contact us info@paintingdreams.co.uk.</p>
  <h2>International orders</h2>
  <p>Generally, your order should arrive within 5-10 working days. However, depending on circumstances beyond our control, orders can take 3-4 weeks. If your order has not arrived within this period of time, please contact us info@paintingdreams.co.uk.</p>
</div>
{% endblock %}
