{% extends "mainapp_base.html" %}

{% block css %}
<style>
  .feedback-item {
    background-color: rgba(0,0,0,.2);
  }
  .info-text p.feedback-meta {
    margin-bottom: 0;
    font-size: 0.9em;
    line-height: 1em;
    border-top: 1px solid rgba(255,255,255,.1);
    padding-top: 1em;
  }
</style>
{% endblock %}

{% block content %}
<h1>Customer Feedback</h1>
<div class="info-text">
  <p>Here are just some of the wonderful things that people have said.</p>
  <p>Thank you all...it means SO much to me...</p>
  <p>With brightest Blessings</p>
  <p>Wendy</p>
  <p style="margin-bottom: 1.5em">If you would like to add your own feedback about artwork purchased from Wendy Andrew, please send an email to feedback@paintingdreams.co.uk</p>
  {% for feedback_item in feedback_items %}
    <div class="panel panel-primary feedback-item">
      <div class="panel-body">
        {{ feedback_item.feedback|safe }}
        {% for webimage in feedback_item.webimages.all %}
          <div class="info-image"><img class="img-responsive center-block" src="/media/images/standard-no-watermark/{{ webimage.filename }}" /></div>
        {% endfor %}
        {% if feedback_item.show_date %}
          <p class="feedback-meta">Feedback{% if feedback_item.author_name %} from {{ feedback_item.author_name }}{% endif %} left on {{ feedback_item.created|date }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}