{% extends "mainapp_base.html" %}

{% block content %}
    {% if homepage_images %}
    <div class="row">
      <div class="col-xs-12">
        <div class="homepage-images carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-pause="null">

            <div class="carousel-inner" role="listbox">
            {% for image in homepage_images %}
                <div class="item {% if forloop.first %}active{% endif %}">
                  {% if image.link %}
                    <a class="image" href="{{ image.link }}">
                  {% endif %}
                    <img src="/media/images/standard/{{ image.filename }}" alt="{{ image.name }}" />
                  {% if image.link %}
                    </a>
                  {% endif %}
                </div>
            {% endfor %}
            </div>

        </div>
      </div>
    </div>
    {% endif %}
    {% if homepage_products.exists %}
        <h1>Selected products</h1>
        <div class="homepage-products row gallery">
        {% for homepage_product in homepage_products %}
            {% with product=homepage_product.product %}
            <div class="col-md-3 col-xs-6">
            {% if product.image %}
                <a class="thumbnail" href="{% url 'product_detail' product.image.slug %}__{{ product.product_type.slug }}">
            {% else %}
                <a class="thumbnail" href="{% url 'product_detail' product.product_type.slug %}">
            {% endif %}
                    {% with webimage=product.webimages.first %}
                        <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
                    {% endwith %}
                        <div class="caption">
                            <p>
                                {% if product.image %}{{ product.image.title }} - {% endif %}
                                {{ product.product_type.displayname_final }}
                            </p>
                        </div>
                </a>
            </div>
            {% endwith %}        
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
