{% extends "mainapp_base.html" %}

{% block content %}
    {% if homepage_images %}
    <div class="row">
      <div class="col-xs-12">
        <div class="homepage-images carousel slide carousel-fade" data-ride="carousel" data-interval="3000" data-pause="null">

            <div class="carousel-inner" role="listbox">
            {% for image in homepage_images %}
                <div class="item {% if forloop.first %}active{% endif %}">
                  {% if image.link %}
                    <a class="image" href="{{ image.link }}">
                  {% endif %}
                    <img src="/media/images/standard/{{ image.filename }}" alt="{{ image.name }}" />
                  {% if image.link %}
                    </a>
                  {% endif %}
                </div>
            {% endfor %}
            </div>

        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" style="padding-bottom: 40px;">
        <p style="text-align: center; line-height: 1.8em; font-size: 1.1em">I'm so excited to share this video...so beautifully filmed and edited by Kevin Redpath. I hope you enjoy this little insight into the world of 'Painting Dreams'!</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/5l1NWWYoauw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    {% if homepage_products %}
        <h1>Selected products</h1>
        <div class="homepage-products row gallery">
        {% for product in homepage_products %}
            <div class="col-md-3 col-xs-6">
            {% if product.image %}
                <a class="thumbnail" href="{% url 'product_detail' product.image.slug %}__{{ product.product_type.slug }}">
            {% endif %}
            {% if not product.image %}
                <a class="thumbnail" href="{% url 'product_detail' product.product_type.slug %}">
            {% endif %}
                {% with webimage=product.webimages.first %}
                    <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
                {% endwith %}
                <div class="caption">
                    <p>
                        {% if product.image %}{{ product.image.title }} - {% endif %}
                        {{ product.product_type.displayname_final }}
                    </p>
                </div>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
