{% extends "base.html" %}

{% block mainnav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container ontop">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/static/logo.svg"><span class="brand-text">Painting Dreams</span></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="/images" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Images <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/images">All</a></li>
                            <li><a href="/images/tag/new_paintings">New Paintings</a></li>
                            <li><a href="/images/tag/goddess_paintings">Goddess Paintings</a></li>
                            <li><a href="/images/tag/goddess_sabbats">Goddess Sabbats</a></li>
                            <li><a href="/images/tag/dragons">Dragons</a></li>
                            <li><a href="/images/tag/faeries_elementals">Faeries & Elementals</a></li>
                            <li><a href="/images/tag/landscapes_series">'Landscapes' series</a></li>
                            <li><a href="/images/tag/reflections_series">'Reflections' series</a></li>
                            <li><a href="/images/tag/magical-way_series">'The magical way' series</a></li>
                            <li><a href="/images/tag/special-selection_series">Special selection' series</a></li>
                            <li><a href="/images/tag/celtic_goddess">Celtic Goddess</a></li>
                            <li><a href="/images/tag/goddess_of_a_thousand_names">Goddess Of A Thousand Names</a></li>
                            <li><a href="/images/tag/goddess_wheel_of_the_year">Goddess Wheel Of The Year</a></li>
                            <li><a href="/images/tag/folk_art_goddess">Folk Art Goddess</a></li>
                            <li><a href="/images/tag/sacred_creatures_paintings">Sacred Creatures Paintings</a></li>
                            <li><a href="/images/tag/sacred_masculine">Sacred Masculine</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/products" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/products">All</a></li>
                            <li><a href="/products/type/card">Cards</a></li>
                            <li><a href="/products/type/card-set">Card sets</a></li>
                            <li><a href="/products/type/print">Prints</a></li>
                            <li><a href="/products/type/fabric-wall-hanging">Fabric wall hangings</a></li>
                            <li><a href="/products/luna-moon-hare">Luna Moon Hare book</a></li>
                            <li><a href="/products/sacred-pouch">'Sacred Pouch' CD</a></li>
                            <li><a href="/products/goddess-wheel">Goddess Wheel</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Info <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/artist-info">Artist info</a></li>
                            <li><a href="/shows">Shows</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                            <li><a href="/delivery-info">Delivery info</a></li>
                            <li><a href="/wholesale-info">Wholesale info</a></li>
                            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
        <form action="/search" class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
        </div>

        {% if basket.items|length > 0 %}
        <div class="container basket-status">
          <p class="pull-right"><a href="/basket"><span>{{ basket.items|length }} item{% if basket.items|length > 1 %}s{% endif %}</span><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></p>
        </div>
        {% endif %}
    </nav>
{% endblock %}
