{% extends "base.html" %}

{% block mainnav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed ontop" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/static/logo.svg"><span class="brand-text">Painting Dreams</span></a>
            </div>
            <div class="collapse navbar-collapse ontop" id="main-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Galleries <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/gallery/new_paintings">New</a></li>
                            <li><a href="/gallery/goddess_paintings">Goddess</a></li>
                            <li><a href="/gallery/sacred_creatures_paintings">Sacred Creatures</a></li>
                            <li><a href="/gallery/spirit-mythic_paintings">Spirit/Mythic</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/special-offers">Special Offers</a></li>
                            <li><a href="/new-products">New Products</a></li>
                            <li><a href="/products/oracle">Oracles</a></li>
                            <li><a href="/products/card">Cards</a></li>
                            <li><a href="/products/card-set">Card sets</a></li>
                            <li><a href="/products/fabric-wall-hanging">Fabric wall hangings</a></li>
                            <li><a href="/product/goddess-wheel">Goddess Wheel</a></li>
                            <li><a href="/product/luna-moon-hare">Luna Moon Hare book</a></li>
                            <li><a href="/products/limited-edition-print">Limited Edition Prints</a></li>
                            <li><a href="/products/open-edition-print">Open Edition Prints</a></li>
                            <li><a href="/products/box-canvas-print">Box Canvas Prints</a></li>
                            <li><a href="/product/2021-calendar">2021 Calendar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                      <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Festivals <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/festival/imbolc">Imbolc</a></li>
                          <li><a href="/festival/spring-equinox">Spring Equinox</a></li>
                          <li><a href="/festival/beltane">Beltane</a></li>
                          <li><a href="/festival/summer-solstice">Summer Solstice</a></li>
                          <li><a href="/festival/autumn-equinox">Autumn Equinox</a></li>
                          <li><a href="/festival/samhain">Samhain</a></li>
                          <li><a href="/festival/winter-solstice">Winter Solstice</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="https://blog.paintingdreams.co.uk">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" area-expanded="false">Info <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/artist-info">Artist info</a></li>
                            <li><a href="/shows">Shows</a></li>
                            <li><a href="/mailinglist">Mailing list</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                            <li><a href="/delivery-info">Delivery info</a></li>
                            <li><a href="/wholesale-info">Wholesale info</a></li>
                            <li><a href="/cookies">Cookies</a></li>
                            <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                        </ul>
                    </li>
                </ul>
                <form action="/search" id="search-box" class="navbar-form navbar-right">
                  <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Search" value="{{ query }}">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                  </div>
                </form>
            </div>
            {% if basket.items|length > 0 %}
            <div class="basket-status">
              <p class="pull-right"><a href="/basket"><span>{{ basket.items|length }} item{% if basket.items|length > 1 %}s{% endif %}</span><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></p>
            </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}
