{% extends "mainapp_base.html" %}

{% block content %}
<h1>Shows</h1>
<div class="info-text">
  <div class="thisyear">
    <h2>2017</h2>
    <ul>
      <li><p>'SUN AND MOON GODDESSES OF THE WORLD'</p><p>I am very excited to be creating an exhibition in Glastonbury during the Goddess conference this year. 1st - 6th August www.goddessconference.com</p><p>The exhibition, open to all, is in the Miracles Room in the courtyard, 2-4 High Street.</p><p>Please come and enjoy this colourful exhibition and beautiful sacred space to celebrate and honour Goddesses of the world.</p><p>The space and artwork will reflect the cyclic nature of Goddess....bringing night and day as the world turns. There will be paintings, writings and music exploring Her as Sun and Moon Goddess as perceived in worldwide spiritual traditions, folklore and storytelling.</p></li>
    </ul>
  </div>
  <div class="info-image"><span>This video shows Wendy's exhibition at The Goddess Conference in 2011</span><br /><iframe style="margin: 5px; padding: 2px; background-color: #FFFFFF; border: 2px solid #000000;" width="480" height="390" src="http://www.youtube-nocookie.com/embed/v2PXOa0k7EY?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
  <div class="info-image"><img src="static/shows/stall-at-goddess-conference.jpg" alt="Goddess conference stall"></div>
  <div class="info-image"><img src="static/shows/stall7.jpg" alt="Show 7"></div>
  <div class="info-image"><img src="static/shows/brighton_goddess_show_stall.jpg" alt="Brighton Goddess Show Stall"></div>
  <div class="previousyear">
    <p class="year">In 2016, I exhibited my work at:</p>
    <ul class="dates">
      <li>Witchfest International in Brighton Sat. 26th Nov</li>
      <li>"Winter Fairytales" at Obsidian Art, Aylesbury, 4th November - 31st December 2016</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2015, I exhibited my work at:</p>
    <ul class="dates">
      <li>Solo Exhibition in Glastonbury called 'Stillness and Stars' In the Miracles Room (The Courtyard off the High Street) 28th July - 2nd Aug</li>
      <li>Obsidian Art  Old Risborough Road, Stoke Mandeville, Aylesbury HP22 5XJ, 21 August - 13 Sept 2015 This will be a WONDERFUL show! It is Hannah Willow's show and she has invited a fabulous group of artists to join her...One not to be missed!</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2014, I exhibited my work at:</p>
    <ul class="dates">
      <li>'Witchfest International', Croydon (<a href="http://www.witchfest.net/wf_international.htm">http://www.witchfest.net/wf_international.htm</a>), 15th Nov</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2013, I exhibited my work at:</p>
    <ul class="dates">
      <li>"Winter Moon Wonders" at Obsidian Art, an exhibition with lots of wonderful artists including Hannah Willow, Flora McLachlan &amp; Tamsin Abbott, Jackie Morris, Caroline Hyde-Brown, Mark Duffin, Phil Holmes, Rachel Wright, Sue Rawley, Yve Sturgeon, Casey Jon &amp; Louise Firchau (aka Paper Panda). Obsidian Art, Bucks (<a href="http://www.obsidianart.co.uk">http://www.obsidianart.co.uk</a>)<br>8th Nov - 5th Jan 2014</li>
      <li>'Witchfest International', Croydon (<a href="http://www.witchfest.net/wf_international.htm">http://www.witchfest.net/wf_international.htm</a>), 9th Nov</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2012, I exhibited my work at:</p>
    <ul class="dates">
      <li>'Ancient Spirals and Moonlit Harts', an exhibition with Hannah Willow, Philthetree, Flora McLachlan and Tamsin Abbot...all wonderful artists. Obsidian Art, Bucks (<a href="http://www.obsidianart.co.uk">http://www.obsidianart.co.uk</a>)<br>12th Oct - 4th Nov</li>
      <li>'Witchfest International', Croydon (<a href="http://www.witchfest.net/wf_international.htm">http://www.witchfest.net/wf_international.htm</a>), 17th Nov</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2011, I exhibited my work at:</p>
    <ul class="dates">
      <li>Obsidian Art, Layby Farm, Old Risborough Road, Stoke Mandeville, Bucks, HP22 5XJ (<a href="http://www.obsidianart.co.uk">www.obsidianart.co.uk</a>) 10th Feb - 13th March</li>
      <li>The Goddess Conference, Glastonbury (<a href="http://www.goddessconference.com/">http://www.goddessconference.com/</a>), 26th July - 31st July</li>
      <li>Somerset Arts Weeks, I will be exhibiting at Glastonbury Galleries (<a href="http://glastonburygalleries.com/">http://glastonburygalleries.com/</a>), 17th September - 2nd October</li>
      <li>Witchfest International, Fairfileld Halls Croydon (<a href="http://www.witchfest.net/">http://www.witchfest.net/</a>), 12th November</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2010, I exhibited my work at:</p>
    <ul class"dates">
      <li>Obsidian Art, Layby Farm, Old Risborough Road, Stoke Mandeville, Bucks, HP22 5XJ (<a href="http://www.obsidianart.co.uk">www.obsidianart.co.uk</a>), 11th Feb - 14th March</li>
      <li>Goddess Conference, Glastonbury (<a href="http://www.goddessconference.com">www.goddessconference.com</a>), 28th July - 1st Aug</li>
      <li>Pagan Federation Conference, Blackburn Hall, Rothwell, Leeds, 25th September</li>
      <li>Witchfest International, Fairfield Halls, Croydon (<a href="http://www.witchfest.net/wf_international.htm">http://www.witchfest.net/wf_international.htm</a>), 6th November</li>
      <li>Obsidian Art - ‘Winter Wonders’, The Bucks Goat Centre, Layby Farm, Old Risborough Road, Stoke Mandeville, Bucks, HP22 5XJ (<a href="http://www.obsidianart.co.uk">www.obsidianart.co.uk</a>), 4th November - 2nd January</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2009, I exhibited my work at:</p>
    <ul class="dates">
      <li>The Magical Faery Festival, The Westgate Hall, Canterbury City, Kent, 11th &amp; 12th April (<a href="http://www.magicalfestivals.co.uk" target="_blank">http://www.magicalfestivals.co.uk</a>)</li>
      <li>The Goddess Conference, Glastonbury, 29th July - 2nd August (<a href="http://goddessconference.com" target="_blank">http://goddessconference.com</a>)</li>
      <li>&lsquo;Sacred Creatures of Albion&rsquo; Exhibition at Galleryeight, Glastonbury, 3rd Nov - 22nd November (<a href="http://www.galleryeight.com/bp/nhlistpage.asp?prid=2029&amp;s=one_article&amp;prevs=&amp;catagory=event_articles&amp;pcat=events&amp;st=1&amp;ed=8&amp;fa=False&amp;ghr=False" target="_blank">http://www.galleryeight.com</a>)</li>
      <li>Witchfest International, Fairfield Halls, Croydon, 7th November (<a href="http://www.witchfest.net/wf_international.htm" target="_blank">http://www.witchfest.net/wf_international.htm</a>)</li>
      <li>Faerie and Fantasy Arts and Crafts, The Flavel, Dartmouth, 28th - 29th November (<a href="http://www.laughingmagpie.co.uk" target="_blank">http://www.laughingmagpie.co.uk</a>)</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2008, I exhibited my work at:</p>
    <ul class="dates">
      <li>Goddess Show South at Brighton Racecourse, 15th &amp; 16th March (<a href="http://www.boktalo.co.uk/the%20goddess%20show.html" target="_blank">www.boktalo.co.uk/the%20goddess%20show.html</a>)</li>
      <li>Goddess Conference Glastonbury, 30th July – 3rd August. Our exhibition called ‘Wild Hare’ will be taking place in the Miracles Room (Above the shop called ‘Margaret Kimber’ in the Glastonbury Experience courtyard.) (<a href="http://www.goddessconference.com/" target="_blank">www.goddessconference.com/</a>)</li>
      <li>Thirteen Moons Festival, Dartmoor, 19th – 21st September (<a href="http://www.seventhwavemusic.co.uk/thirteenmoons.htm" target="_blank">http://www.seventhwavemusic.co.uk/thirteenmoons.htm</a>)</li>
      <li>'Witchfest International' in the Fairfield Halls, Croydon, 8th November (<a href="http://www.witchfest.net/wf_international.htm" target="_blank">http://www.witchfest.net/wf_international.htm</a>)</li>
      <li>'Sacred Hare' Exhibition, Gallery Eight Glastonbury, 14th Nov – 23rd Nov (<a href="http://www.galleryeight.com/bp/nhlistpage.asp?pcat=events" target="_blank">http://www.galleryeight.com/bp/nhlistpage.asp?pcat=events</a>)</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2007, I exhibited my work at:</p>
    <ul class="dates">
      <li>The Gathering Of The Clans Festival in the Purbecks, Dorset, 21st &amp; 22nd July (<a href="http://www.thecoranieid.co.uk" target="_blank">www.thecoranieid.co.uk</a>)</li>
      <li>Goddess Conference, Glastonbury, Somerset, 1st - 5th August (<a href="http://www.goddessconference.com" target="_blank">www.goddessconference.com</a>)</li>
      <li>The Goddess Show North, York Racecourse, 2nd September (<a href="http://www.boktalo.co.uk" target="_blank">www.boktalo.co.uk</a>)</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2006, I exhibited my work at:</p>
    <ul class="dates">
      <li>The Sunrise Solstice Festival</li>
      <li>Goddess Conference, Glastonbury, Somerset</li>
      <li>Society of Pagan Arts, Ludlow, Shropshire</li>
      <li>Faery, Angel &amp; Healing Fayre, St Johns Hall, Penzance, Cornwall</li>
      <li>Witchfest International, Fairfield Halls, Croydon, South London</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2005, I exhibited my work at:</p>
    <ul class="dates">
      <li>Painting of Brigid at the Goddess Temple Glastonbury during Imbolc</li>
      <li>Brigid Shrine, Glastonbury Festival. 22nd - 26th June. <a href="./glastonbury.php">Here are some photos of the garden shrine.</a></li>
      <li>Goddess Conference 27th - 31st July</li>
      <li>Witchfest International, Croydon 5 November (<a href="http://www.witchfest.net" target="_blank">www.witchfest.net</a>)</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2004, I exhibited my work at:</p>
    <ul class="dates">
      <li>Clun Green Man Festival, 31 April - 4 May (<a href="http://www.clun.org.uk/greenman/index.htm" target="_blank">www.clun.org.uk/greenman/index.htm</a>)</li>
      <li>Witchfest England, Croydon 8 May (<a href="http://www.witchfest.net" target="_blank">www.witchfest.net</a>)</li>
      <li>The Wessex Gathering (Pagan gathering in the Purbecks, Dorset) 4 - 7 June (<a href="http://www.witchcraft.co.uk" target="_blank">www.witchcraft.co.uk</a>)</li>
      <li>Witchfest Wales, Cardiff 12 June (<a href="http://www.witchfest.net" target="_blank">www.witchfest.net</a>)</li>
      <li>Dorset Art Week, Shaftesbury Arts Centre, Dorset 29 May - 13 June (<a href="http://www.dorsetartweek.com" target="_blank">www.dorsetartweek.com</a>)</li>
      <li>British Visionary Artists Group annual exhibition, Fairfield Halls, Croydon 14 - 19 June</li>
      <li>Glastonbury Festival 25 - 27 June. Brigit shrine in King's meadow</li>
      <li>Goddess Conference, Glastonbury 28 July - 1 August (<a href="http://www.goddessconference.com" target="_blank">www.goddessconference.com</a>)</li>
      <li>'Battle of Camlam' show, Tintagel, 6 - 8 August</li>
      <li>Studio 13, Castle Cary, Somerset 1 - 30 September</li>
      <li>Two of my paintings, 'Cerridwen' and 'Samhain' were hung in The Goddess Temple in Glastonbury during Samhain.</li>
      <li>Witchfest International, Croydon 6 - 7 November</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2004, my work was featured in:</p>
    <ul class="dates">
      <li>Witchcraft and Wicca magazine</li>
      <li>The Cornish Pagan Wheel Magazine</li>
      <li>On HTV in a programme about witchcraft, 'The Magick Eve'</li>
      <li>Goddess oracle cards and Unicorn oracle cards compiled and written by Doreen Virtue</li>
    </ul>
  </div>
  <div class="previousyear">
    <p class="year">In 2003, I exhibited my work at:</p>
    <ul class="dates">
      <li>The Goddess Conference, Glastonbury 30 July - 3 Aug</li>
      <li>Witchfest-UK at the Fairfield Halls, Croydon 8 Nov</li>
      <li>Pagan Federation Annual Conference at the Fairfield Halls, Croydon 29 Nov</li>
      <li>Yvonne Fairs (Body, Mind &amp; Spirit Show) at The Leisure Village, Kettering 6 - 7 Dec</li>
    </ul>
  </div>
</div>
{% endblock %}
