{% extends "mainapp_base.html" %}

{% block content %}
<h1>Terms and Conditions</h1>
<div class="info-text">
  <p>These terms and conditions apply to all transactions placed online with Painting Dreams. Please read carefully before placing any order. Throughout this document, 'we' or 'us' refers to Painting Dreams. All contracts shall be governed by and construed in accordance with English Law and any dispute between us will be resolved exclusively in the courts of England and Wales. Nothing in these terms and conditions will be deemed to affect your statutory rights.</p>
  <p>The use of this website is subject to the following terms of use:</p>
  <ul>
    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
    <li>The colours depicted on this site match as closely as possible to the actual colours of the product. However, due to technical limitations, some colours may vary.</li>
    <li>All prices are shown in pound sterling (£).</li>
    <li>Prices, product descriptions and specifications are checked to the best of our ability, and whilst every effort has been made to make them accurate, no responsibility will be accepted for errors and omissions.</li>
    <li>Any information displayed on our web site or other printed matter from Painting Dreams is not regarded to be authoritative or certified as the best practice and is only considered to be useful supplementary advice to other certified codes of practice.</li>
    <li>All information on our web site is updated regularly.</li>
    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
    <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.</li>
    <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
    <li>This website includes links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
    <li>We reserve the right to alter our prices and specifications without notice.</li>
  </ul>
</div>
{% endblock %}
