<div class="product-purchase col-md-4 col-xs-12">
  <div class="clearfix">
    {% if output_name %}
      <p>{{ product.displayname }}</p>
    {% endif %}
    {% if product.show_old_price and product.product_type.old_price %}
      {% if display_sale_price %}
        <p class="old-price">Original price: &pound;{{ product.product_type.old_price }}</p>
        <p class="price"><span style="color: #C7C725">Sale price: &pound;{{ product.price }}</span></p>
      {% else %}
        <p class="price"><del>&pound;{{ product.product_type.old_price }}</del> &pound;{{ product.price }}</p>
      {% endif %}
    {% else %}
        <p class="price">&pound;{{ product.price }}</p>
    {% endif %}
    {% if not product.sold_out and not product.temporarily_unavailable %}
      <form action="/basket-add" method="POST" class="form-inline">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <div class="form-group col-sm-5">
             <label for="quantity" class="control-label col-sm-6">Quantity</label>
             <input type="number" class="form-control col-sm-6" id="quantity" name="quantity" min="1" value="1">
          </div>
          <button type="submit" class="btn btn-default col-sm-5">Add to basket</button>
      </form>
    {% else %}
      {% if product.sold_out %}
        <p class="sold-out">
          {% if product.more_due %}
            Sorry, currently sold out.
            {% if product.due_text|length > 0 %}More are due {{ product.due_text|safe }}.{% endif %}
          {% else %}
            Sorry, sold out.
          {% endif %}
        </p>
      {% endif %}
      {% if product.temporarily_unavailable %}
        <p>Sorry, this product is temporarily unavailable</p>
      {% endif %}
    {% endif %}
  </div>
</div>
