{% extends "mainapp_base.html" %}

{% block content %}
<div class="row">
  <div class="page-header col-md-6 pull-right col-xs-12">
    <h1>
    {% if product.image %}
        {{ product.image.title }}<br />
    {% endif %}
    {{ product.product_type.displayname_final }}
    </h1>
  </div>

  {% with webimages=product.webimages.all %}
  <div class="col-md-6 col-xs-12">
    <div id="details-webimages" class="carousel slide" data-interval="false">
      <div style="max-height: {{ max_image_height|add:"6" }}px">
        <div class="carousel-inner" role="listbox" >
        {% for webimage in webimages %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="/media/images/enlargement/{{ webimage.filename }}" data-lighter><img src="/media/images/standard/{{ webimage.filename }}" alt="{{ webimage.name }}" class="img-responsive center-block" /></a>
          </div>
        {% endfor %}
        </div>
      </div>
      <p class="enlargement-text"><i class="fa fa-search-plus" aria-hidden="true"></i> Click image for enlargement</p>
    </div>
    {% if webimages|length > 1 %}
      <div class="details-webimages-thumbnails">
      {% for webimage in webimages %}
        <div data-target="#details-webimages" data-slide-to="{{ forloop.counter0 }}" class="col-md-3 {% if forloop.first %}active{% endif %}">
          <img src="/media/images/thumbnail/{{ webimage.filename }}" class="img-responsive center-block">
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endwith %}


    <div class="product-purchase col-md-4 col-xs-12">
      <p class="price">&pound;{{ product.product_type.price_final }}</p>
      {% if not product.sold_out %}
        <form action="/basket-add" method="POST" class="form-inline">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <div class="form-group col-sm-5">
               <label for="quantity" class="control-label col-sm-6">Quantity</label>
               <input type="number" class="form-control col-sm-6" id="quantity" name="quantity" min="1" value="1">
            </div>
            <button type="submit" class="btn btn-default col-sm-5">Add to basket</button>
        </form>
      {% else %}
        <p class="sold-out">
        {% if product.more_due %}
            Sorry, currently sold out.
            {% if product.due_text|length > 0 %}More are due {{ product.due_text|safe }}.{% endif %}
        {% else %}
            Sorry, sold out.
        {% endif %}
        </p>
      {% endif %}
    </div>

    <div class="col-md-6 product-description col-xs-12">
        <div>{{ product.product_type.description_final|safe }}{{ product.extra_description|safe }}</div>
    </div>

</div>
{% endblock %}
