{% extends "mainapp_base.html" %}

{% block content %}
<h1>{{ pagetitle }}</h1>
{% if num_products == 0 %}
  <p>No products found</p>
{% else %}
  {% include "product/categories_panel.html" %}
  {% if index_inline %}
    <div class="row gallery">
  {% endif %}
  {% for product_type in product_type_products %}
    {% if not index_inline %}
      {% if forloop.counter > 1 and not product_type.producttype.subproduct_hide %}
        <h2>{{ product_type.producttype.title }}s</h2>
      {% endif %}
      <div class="row gallery">
    {% endif %}
    {% include "product/product_type_gallery.html" %}
    {% if not index_inline %}
      </div>
    {% endif %}
  {% endfor %}
  {% if index_inline %}
    </div>
  {% endif %}
{% endif %}
{% endblock %}
