{% extends "mainapp_base.html" %}

{% block content %}
<h1>New Products</h1>
<div class="row gallery">
    {% for new_product in new_products %}
        {% with product=new_product.product %}
        <div class="col-md-3 col-xs-6">
            {% if product.image %}
            <a class="thumbnail" href="{% url 'product_detail' product.image.slug %}__{{ product.product_type.slug }}">
            {% endif %}
            {% if not product.image %}
            <a class="thumbnail" href="{% url 'product_detail' product.product_type.slug %}">
            {% endif %}
            {% with webimage=product.webimages.first %}
                <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
            {% endwith %}
                <div class="caption">
                    <p>
                        {% if product.image %}{{ product.image.title }} - {% endif %}
                        {{ product.product_type.displayname_final }}
                    </p>
                </div>
            </a>
        </div>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}
