{% extends "base.html" %}

{% block css %}
<style>
.product-list {
  background-color: rgba(255,255,255,0.8);
  color: rgb(50,50,50);
  width: 100%;
}
.product-list tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.3);
}
.product-list td {
    padding: 10px 2px 10px 5px;
}
.sold-out-button {
  display: inline;
  margin-left: 5px;
}
</style>
{% endblock %}

{% block mainnav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container ontop">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><img src="/static/logo.svg"><span class="brand-text">Painting Dreams</span></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<h1>Product stock counts</h1>

<table class="product-list">
  {% for product in products %}
    <tr>
      <td>{{ product.displayname }}</td>
      <td>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="product_id" value={{ product.id }}>
          <input type="number" name="stock_count" value="{{ product.stock_count }}">
          <button>Update</button>
        </form>
      </td>
      <td>
        {% if product.sold_out %}
          Sold out
          <form method="POST" class="sold-out-button">
            {% csrf_token %}
            <input type="hidden" name="product_id" value={{ product.id }}>
            <input type="hidden" name="sold_out" value="false">
            <button>Mark available</button>
          </form>
        {% else %}
          <form method="POST" class="sold-out-button">
            {% csrf_token %}
            <input type="hidden" name="product_id" value={{ product.id }}>
            <input type="hidden" name="sold_out" value="true">
            <button>Mark sold out</button>
          </form>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
