{% extends "mainapp_base.html" %}

{% block content %}
<h1>Shopping Basket</h1>
<table class="table basket">
    <thead>
        <tr>
            <th colspan="2">Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Product total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% for item in cart.items %}
        <tr>
            <td>
              {% with webimage=item.product.webimages.first %}
                <img src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
              {% endwith %}
            </td>
            <td>{{ item.product.displayname }}</td>
            <td>&pound;{{ item.product.product_type.price_final }}</td>
            <td>
                <form action="/basket-change-quantity" method="POST" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item.product.id }}" />
                    <input name="quantity" type="number" class="form-control" min="0" step="1" value="{{ item.quantity }}" />
                    <button type="submit" class="btn btn-default">Update</button>
                </form>
            </td>
            <td>&pound;{{ item.subtotal }}</td>
            <td>
                <form action="/basket-change-quantity" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ item.product.id }}" />
                    <input type="hidden" name="quantity" value="0" />
                    <button type="submit" class="btn btn-default">Remove</button>
                </form>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
<p style="font-size: 0.8em; font-style: italic;">weight: {{ weight }}</p>
<p class="basket-subtotal">Subtotal: &pound;{{ cart.total }}</p>
<form action="/basket-change-destination" method="POST" class="form-inline basket-subtotal">
  {% csrf_token %}
  <span>Destination:</span>
  <select class="form-control" name="destination">
    <option value="GB" {% if destination == 'GB' %}selected{% endif %}>UK</option>
    <option value="EUROPE" {% if destination == 'EUROPE' %}selected{% endif %}>Mainland Europe</option>
    <option value="WORLD" {% if destination == 'WORLD' %}selected{% endif %}>Worldwide</option>
  </select>
  <button type="submit" class="btn btn-default">Update</button>
</form>
<p class="basket-subtotal">Postage: &pound;{{ postage_price }}</p>
<p class="basket-total">Total: &pound;{{ order_total }}</p>
<p><a href="/order-start" class="btn btn-primary btn-lg" role="button">Checkout</a></p>
{% endblock %}
