{% if holiday_message %}<p><strong>{{ holiday_message }}</strong></p>{% endif %}
<p>Thank you for placing an order on Painting Dreams. The details of your order are below. Please contact info@paintingdreams.co.uk if any of these details are incorrect.</p>
<p><strong>Order ID: {{ order.unique_id }}</strong><br />
{% if order.discount_code %}Discount code: {{ order.discount_code }}<br />{% endif %}
Transaction ID: {{ order.last_transaction.unique_id }}<br />
Payment processor: {{ order.last_transaction.payment_processor }}</p>
<p>
{% for item in order.orderline_set.all %}
<strong>{{ item.quantity}} x {{ item.title }} - £{{ item.line_price|floatformat:2 }}</strong><br />
{% endfor %}
Sub total: £{{ order.sub_total_price|floatformat:2 }}<br />
Postage: £{{ order.postage_price|floatformat:2 }}<br />
Total: £{{ order.total_price|floatformat:2 }}</p>
<p>
    <strong>{{ order.customer_name }}</strong><br />
    <strong>{{ order.customer_email }}</strong>
    {% if order.customer_phone %}<br />{{ order.customer_phone }}{% endif %}
</p>
<p><strong>Billing address</strong><br />{{ order.billing_address }}</p>
<p><strong>Delivery address</strong><br />
{% if order.shipping_address %}
{{ order.shipping_name }}<br />{{ order.shipping_address }}
{% else %}
{{ order.customer_name }}<br />{{ order.billing_address }}
{% endif %}
</p>
<p>Your order will be on its way very soon.</p>
<p>Brightest blessings<br />Wendy</p>
