{% extends "wholesale_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Wholesale Order</h1>
<div id="wholesale-container">
  {% if display_vat_message %}<p class="holiday-message">Please note PAINTING DREAMS IS NOW A VAT REGISTERED BUSINESS.<br>The prices here are exclusive of VAT. The VAT will be added on your invoice.</p>{% endif %}
  <p class="holiday-message">Please note that sadly, due to Brexit, orders going to Europe may now incur an excise &amp; customs duty charge and/or a customs clearance fee.</p>
  {% if holiday_messages.wholesale %}<p class="holiday-message">{{ holiday_messages.wholesale }}</p>{% endif %}
  {% if product_errors|length > 0 %}
    <div class="product-errors">
      <h3>The following problems were found with your order</h3>
      <ul>
      {% for error in product_errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  <p class="step-num">Step 1 of 3</p>
  <p>Fields marked with * are required</p>
  {% crispy form %}
</div>
{% endblock %}

{% block javascript %}
<script src="/static/wholesale/js/wholesale.js"></script>
{% endblock %}
