{% extends "wholesale_base.html" %}

{% block content %}
<div id="wholesale-container">
  <h1>Wholesale Order - {% if complete %}Complete{% else %}Summary{% endif %}</h1>
  {% if display_vat_message %}<p class="holiday-message">Please note PAINTING DREAMS IS NOW A VAT REGISTERED BUSINESS.<br>The prices here are exclusive of VAT. The VAT will be added on your invoice.</p>{% endif %}
  <p class="holiday-message">Please note that sadly, due to Brexit, orders going to Europe may now incur an excise &amp; customs duty charge and/or a customs clearance fee.</p>
  {% if holiday_messages.wholesale %}<p class="holiday-message">{{ holiday_messages.wholesale }}</p>{% endif %}
  <p class="step-num">Step {% if complete %}3{% else %}2{% endif %} of 3</p>
  <p>Shop name: {{ shop.name }}</p>
  <p>Shop address: {{ shop.address }}</p>
  <p>Contact name: {{ contact.name }}</p>
  <p>Contact email: {{ contact.email }}</p>
  <p>Contact tel: {{ contact.tel }}</p>
  <table class="wholesale_products">
    <tr>
      <th class="colCode">Code</th>
      <th class="colTitle">Title</th>
      <th class="colPrice">Price</th>
      <th class="colQuantity">Quantity</th>
      <th class="colTotal">Total</th>
    </tr>
  {% for product in products %}
    <tr>
      <td>{{ product.code }}</td>
      <td>{{ product.title }}</td>
      <td>&pound;{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>&pound;{{ product.total }}</td>
    </tr>
  {% endfor %}
  {% if delivery_charge %}
    <tr>
      <td colspan="4">Delivery charge</td>
      <td>&pound;{{ delivery_charge }}</td>
    </tr>
  {% endif %}
    <tr>
      <td colspan="4">Order total</td>
      <td>&pound;{{ order_total }}</td>
    </tr>
  </table>
  {% if complete %}
      {% if special_name_len > 0 %}
          <a class="btn btn-primary" href="/wholesale_order/{{special_name}}">Create New Order</a>
      {% else %}
          <a class="btn btn-primary" href="/wholesale_order">Create New Order</a>
      {% endif %}
  {% else %}
      {% if special_name_len > 0 %}
          <a class="btn btn-primary" href="/wholesale_order/{{special_name}}">Amend Order</a>
          <a class="btn btn-primary" href="/wholesale_order/{{special_name}}/place-order">Place Order</a>
      {% else %}
          <a class="btn btn-primary" href="/wholesale_order">Amend Order</a>
          <a class="btn btn-primary" href="/wholesale_order/place-order">Place Order</a>
      {% endif %}
  {% endif %}
</div>
{% endblock %}
