{% extends "mainapp_base.html" %}

{% block content %}
{% if order.state == 'paid' %}
  <h1>Order complete</h1>
  <div class="info-text">
    <p>Thank you for placing an order on Painting Dreams. Confirmation of your payment has been recieved.</p>
    <p>The details of your order are below. These details will also be sent to <span class="text-warning"><strong>{{ order.customer_email }}</strong></span>. If there are any incorrect details please email info@paintingdreams.co.uk quoting your order number.</p>
    <table class="table">
      <tr><td>Order number:</td><td><span class="text-warning"><strong>{{ order.unique_id }}</strong></span></td></tr>
      <tr><td>Name:</td><td><span class="text-warning"><strong>{{ order.customer_name }}</strong></span></td></tr>
      <tr><td>Email:</td><td><span class="text-warning"><strong>{{ order.customer_email }}</strong></span></td></tr>
      <tr><td>Billing address:</td><td><span class="text-warning"><strong>{{ order.billing_address }}</strong></span></td></tr>
      <tr><td>Shipping name:</td><td><span class="text-warning"><strong>{{ order.shipping_name }}</strong></span></td></tr>
      <tr><td>Shipping address:</td><td><span class="text-warning"><strong>{{ order.shipping_address }}</strong></span></td></tr>
      <tr>
        <td>Products</td>
        <td class="text-warning">
          {% for item in order.orderline_set.all %}{{ item.quantity}} x {{ item.title }} - &pound;{{ item.line_price }}<br />{% endfor %}
          <br />Sub total: &pound;{{ order.sub_total_price }}<br />
          Postage: &pound;{{ order.postage_price }}<br />
          Total: &pound;{{ order.total_price }}
        </td>
      </tr>
    </table>
  </div>
{% else %}
  {% if order.last_transaction.state == 'failed' %}
    <h1>Order payment failed</h1>
    <div class="info-text">
      <p>Thank you for placing an order on Painting Dreams. <span class="text-danger"><strong>Unfortunately payment has failed.</strong></span></p>
      <p>If you believe that your payment did complete successfully, please email info@paintingdreams.co.uk quoting your order number.</p>
      <p>Your order number is: <span class="text-warning"><strong>{{ order.unique_id }}</strong></span></p>
      <p>You may choose to re-attempt payment by visiting the <a href="/order-payment">payment selection page</a></p>
    </div>
  {% elif order.last_transaction.state == 'cancelled' %}
    <h1>Order transaction cancelled</h1>
  {% else %}
    <h1>Order in progress</h1>
  {% endif %}
{% endif %}
{% endblock %}
