{% extends "mainapp_base.html" %}

{% block content %}
{% if order.state == 'paid' %}
  <h1>Order complete</h1>
  <div class="info-text">
    <p>Thank you for placing an order on Painting Dreams. Confirmation of your payment has been recieved.</p>
    <p>The details of your order are below. These details will also be sent to <span class="text-warning"><strong>{{ order.customer_email }}</strong></span>. If there are any incorrect details please email info@paintingdreams.co.uk quoting your order number.</p>
    <table class="table">
      <tr><td>Order number:</td><td><span class="text-warning"><strong>{{ order.unique_id }}</strong></span></td></tr>
      <tr><td>Name:</td><td><span class="text-warning"><strong>{{ order.customer_name }}</strong></span></td></tr>
      <tr><td>Email:</td><td><span class="text-warning"><strong>{{ order.customer_email }}</strong></span></td></tr>
      {% if order.customer_phone %}<tr><td>Phone:</td><td><span class="text-warning"><strong>{{ order.customer_phone }}</strong></span></td></tr>{% endif %}
      <tr><td>Billing address:</td><td><span class="text-warning"><strong>{{ order.billing_address }}</strong></span></td></tr>
      <tr><td>Shipping name:</td><td><span class="text-warning"><strong>{{ order.shipping_name }}</strong></span></td></tr>
      <tr><td>Shipping address:</td><td><span class="text-warning"><strong>{{ order.shipping_address }}</strong></span></td></tr>
      <tr>
        <td>Products</td>
        <td class="text-warning">
          {% for item in order.orderline_set.all %}{{ item.quantity}} x {{ item.title }} - &pound;{{ item.line_price|floatformat:2 }}<br />{% endfor %}
          <br />Sub total: &pound;{{ order.sub_total_price|floatformat:2 }}<br />
          Postage: &pound;{{ order.postage_price|floatformat:2 }}<br />
          Total: &pound;{{ order.total_price|floatformat:2 }}
        </td>
      </tr>
    </table>
  </div>
{% else %}
  {% if order.last_transaction.state == 'failed' %}
    <h1>Order payment failed</h1>
    <div class="info-text">
      <p>Thank you for placing an order on Painting Dreams. <span class="text-danger"><strong>Unfortunately payment has failed.</strong></span></p>
      {% if order.last_transaction.message %}
        <p>The reason given by the payment processor was: <span class="text-danger"><strong>{{ order.last_transaction.message }}.</strong></span>
        <br />{{ order.last_transaction.message_info }}</p>
      {% endif %}
      <p>If you believe that your payment did complete successfully, please email info@paintingdreams.co.uk quoting your order number.</p>
      <p>Your order number is: <span class="text-warning"><strong>{{ order.unique_id }}</strong></span></p>
      <p>You may choose to re-attempt payment by visiting the <a href="/order-payment">payment selection page</a></p>
    </div>
  {% elif order.last_transaction.state == 'cancelled' %}
    <h1>Order payment cancelled</h1>
    <div class="info-text">
      <p>Your order payment has been cancelled.</p>
      <p>You may choose to re-start payment by visiting the <a href="/order-payment">payment selection page</a></p>
    </div>
  {% else %}
    <h1>Order in progress</h1>
    <div class="info-text">
      <p>Your order is in progress. If you are seeing this page after successfully providing payment, we might have not yet recieved confirmation from the payment processor. Please try refreshing this page after a minute.</p>
      <p>If you still see this page after refreshing and you have not received an order confirmation email, please email info@paintingdreams.co.uk quoting your order number.</p>
    </div>
  {% endif %}
{% endif %}
{% endblock %}
