{% extends "base.html" %}

{% block css %}
<style>
.orders-list {
  background-color: rgba(255,255,255,0.8);
  color: rgb(50,50,50);
  width: 100%;
}
.order-details {
  padding: 15px;
}
.order-details:nth-child(even) {
  background-color: rgba(0,0,0,0.3);
}
.detail {
  font-weight: bold;
}
.order-details table {
  margin-top: 15px;
  margin-bottom: 5px;
}
.order-details td {
  padding-right: 15px;
}
</style>
{% endblock %}

{% block mainnav %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container ontop">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><img src="/static/logo.svg"><span class="brand-text">Painting Dreams</span></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<h1>Recent Orders</h1>

<div class="orders-list">
  {% for order in orders %}
    <div class="order-details">
      <p class="detail">{{ order.updated }}</p>
      <p>Order ID: <span class="detail">{{ order.unique_id }}</span></p>
      <p>Payment processor: <span class="detail">{{ order.last_transaction.payment_processor }}</span><br />Transaction ID: <span class="detail">{{ order.last_transaction.unique_id }}</span></p>
      <p>Customer: <span class="detail">{{ order.customer_name }}</span> - <span class="detail">{{ order.customer_email }}</span></p>
      <p>Billing address: <span class="detail">{{ order.billing_address }}</span></p>
      {% if order.shipping_address %}<p>Shipping address: <span class="detail">{{ order.shipping_address }}</span></p>{% endif %}
      <table>
        {% for item in order.orderline_set.all %}
        <tr>
          <td><span class="detail">{{ item.quantity}} x </span></td>
          <td><span class="detail">{{ item.title }}</span></td>
          <td>&pound;{{ item.line_price|floatformat:2 }}</td>
        </tr>
        {% endfor %}
      </table>
      <p>Sub total: &pound;{{ order.sub_total_price|floatformat:2 }}</p>
      <p>Postage: <span class="detail">&pound;{{ order.postage_price|floatformat:2 }}</span></p>
      <p>Total: <span class="detail">&pound;{{ order.total_price|floatformat:2 }}</span></p>
    </div>
  {% endfor %}
</div>
{% endblock %}
