{% extends "mainapp_base.html" %}

{% block content %}
<h1>Order summary / payment</h1>
<p>Order number: <span id="order-number">{{ order.unique_id }}</span></p>
<div class="panel panel-default order-panel">
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Item total</th>
        </tr>
      </thead>
      <tbody>
    {% for item in order.orderline_set.all %}
        <tr>
            <td>{{ item.quantity}} x {{ item.title }}</td>
            <td>&pound;{{ item.line_price }}</td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
    <p>Sub total: &pound;{{ order.sub_total_price|floatformat:2 }}</p>
    <p>Postage: &pound;{{ order.postage_price|floatformat:2 }}</p>
    <p>Total: &pound;{{ order.total_price|floatformat:2 }}</p>
  </div>
</div>
<div class="panel panel-default order-addresses order-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <p>Email: {{ order.customer_email }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Billing address</h4>
        <p>{{ order.customer_name }}</p>
        <p>{{ order.billing_address.address1 }}</p>
        <p>{{ order.billing_address.address2 }}</p>
        <p>{{ order.billing_address.address3 }}</p>
        <p>{{ order.billing_address.address4 }}</p>
        <p>{{ order.billing_address.city }}</p>
        <p>{{ order.billing_address.state }}</p>
        <p>{{ order.billing_address.post_code }}</p>
        <p>{{ order.billing_address.country.name }}</p>
      </div>
      <div class="col-md-6">
        <h4>Delivery address</h4>
        {% if order.shipping_address %}
        <p>{{ order.shipping_name }}</p>
        <p>{{ order.shipping_address.address1 }}</p>
        <p>{{ order.shipping_address.address2 }}</p>
        <p>{{ order.shipping_address.address3 }}</p>
        <p>{{ order.shipping_address.address4 }}</p>
        <p>{{ order.shipping_address.city }}</p>
        <p>{{ order.shipping_address.state }}</p>
        <p>{{ order.shipping_address.post_code }}</p>
        <p>{{ order.shipping_address.country.name }}</p>
        {% else %}
        <p>{{ order.customer_name }}</p>
        <p>{{ order.billing_address.address1 }}</p>
        <p>{{ order.billing_address.address2 }}</p>
        <p>{{ order.billing_address.address3 }}</p>
        <p>{{ order.billing_address.address4 }}</p>
        <p>{{ order.billing_address.city }}</p>
        <p>{{ order.billing_address.state }}</p>
        <p>{{ order.billing_address.post_code }}</p>
        <p>{{ order.billing_address.country.name }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><a href="/order-start" class="btn btn-default" role="button">Change these details</a></p>
      </div>
    </div>
  </div>
</div>
<div>
{% if transaction %}
  <a name="payment"></a>
  <h2>Make payment</h2>
  {{ transaction.form|safe }}
{% else %}
  <h2>Choose payment method</h2>
  <form method="POST" id="payment-selection" action="/order-payment#payment">
    {% csrf_token %}
    <div class="row">
      <div class="radio col-md-6">
        <label>
          <input type="radio" name="payment_processor" value="paypal"><span class="paypal-button">PayPal</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="radio col-md-6">
        <label>
          <input type="radio" name="payment_processor" value="cardsave"><span class="cardsave-button">Cardsave</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" id="payment-selection-button" class="btn btn-primary btn-lg">Continue</button>
      </div>
    </div>
  </form>
{% endif %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
  $('#payment-selection input').click(function() {
    $('#payment-selection-button').show();
  });

  $('#payment-selection-button').click(function(evt) {
    evt.preventDefault();
    var orderNumber = $('#order-number').text();
    var paymentProcessor = $('input[name=payment_processor]:checked').val();

    var url = '/api/orders/' + orderNumber + '/transactions';

    $.ajax({
      method: "POST",
      url: url,
      contentType: 'application/json',
      data: JSON.stringify({ payment_processor: paymentProcessor })
    })
    .done(function(res) {
      // Check that res is an object and that form property exists. Display error if not.
      $('#payment-selection').after('<div style="display:none" id="payment-processor-form">' + res.form + '</div>');
      $('#payment-processor-form form').submit();
    })
    .fail(function() {
      // Need to display error stating that redirecting to payment processor has failed
    });
  });

  $('#payment-selection-button').hide();
});
</script>
{% endblock %}
