{% extends "mainapp_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if not confirm_remove_uk_only_products %}
    <h1>Your details</h1>
    {% crispy form %}
{% else %}
    <h1>UK only products</h1>
    <p class="larger-text">Some products in your basket can only be delivered to the UK but you have entered a non-UK shipping address.</p>
    <p class="larger-text">Would you like to remove these items and continue?</p>
    <div class="row">
        <div class="col-sm-1">
            <form action="/order-start" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.html_name == "remove_uk_only_products" %}
                        <input type="hidden" name="remove_uk_only_products" value="True" />
                    {% else %}
                        <input type="hidden" name="{{ field.html_name }}" value="{{ field.value }}" />
                    {% endif %}
                {% endfor %}
                <button class="btn btn-primary btn-lg" type="submit">Yes</button>
            </form>
        </div>
        <div class="col-sm-1">
            <form action="/basket" method="GET">
                <button class="btn btn-primary btn-lg" type="submit">No</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    (function() {
        const deliveryAddressFields = document.getElementById("delivery-address");
        if (deliveryAddressFields) {
            const deliveryAddressCheckbox = document.getElementById("id_shipping_different");
            const shippingAddressLine1 = document.getElementById("id_shipping_address1");
            let deliveryAddressHidden = true;

            function showDeliveryAddress() {
                deliveryAddressFields.classList.remove("hidden");
                deliveryAddressHidden = false;
                deliveryAddressCheckbox.checked = true;
            }

            function hideDeliveryAddress() {
                deliveryAddressFields.classList.add("hidden");
                deliveryAddressHidden = true;
                deliveryAddressCheckbox.checked = false;

                const fieldNames = [
                    "shipping_name",
                    "shipping_address1",
                    "shipping_2sserdda",
                    "shipping_3sserdda",
                    "shipping_4sserdda",
                    "shipping_city",
                    "shipping_state",
                    "shipping_post_code",
                    "shipping_country",
                ]
                fieldNames.forEach(function(fieldName) {
                    document.getElementById(`id_${fieldName}`).value = "";
                });
            }

            if (shippingAddressLine1.value !== "") {
                showDeliveryAddress();
            }

            deliveryAddressCheckbox.addEventListener("click", function() {
                if (deliveryAddressHidden) {
                    showDeliveryAddress();
                } else {
                    hideDeliveryAddress();
                }
            });
        }
    })()
</script>
{% endblock %}