{% extends "mainapp_base.html" %}

{% block css %}
<style type="text/css">
.products h2 {
  font-size: 1.8em;
}
.thumbnail .caption {
  text-align: center;
}
.products .thumbnail>img {
  padding-top:0;
  padding-bottom:9px;
  padding-left:0;
  margin-left:auto;
  margin-right:auto;
}
#image-webimages, #product-webimages {
  padding: 15px 0 0;
  background-color: rgba(0,0,0,.2);
  border: 2px solid rgba(255,255,255,.1);
  border-radius: 4px;
}
#image-webimages img, #product-webimages img {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.9);
}
.enlargement-text {
  font-size: 0.95em;
  text-align: center;
  margin-top: 6px;
}
.details-webimages-thumbnails {
  margin-top: 20px;
}
.details-webimages-thumbnails>div {
  cursor: pointer;
  height: 160px;
}
.details-webimages-thumbnails img {
  max-height: 140px;
  padding: 1px;
  background-color: rgba(255,255,255,.9);
}
</style>
{% endblock %}

{% block content %}
<div class="row">

  {% with webimages=image.webimages.all %}
  <div class="col-md-6">
    <div id="image-webimages" class="carousel slide" data-interval="false">
      <div style="height: {{ max_image_height|add:"6" }}px">
        <div class="carousel-inner" role="listbox" >
        {% for webimage in webimages %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="/media/images/enlargement/{{ webimage.filename }}" data-lighter><img src="/media/images/standard/{{ webimage.filename }}" alt="{{ webimage.name }}" class="img-responsive center-block" /></a>
          </div>
        {% endfor %}
        </div>
      </div>
      <p class="enlargement-text"><i class="fa fa-search-plus" aria-hidden="true"></i> Click image for enlargement</p>
    </div>
    {% if webimages|length > 1 %}
      <div class="details-webimages-thumbnails">
      {% for webimage in webimages %}
        <div data-target="#image-webimages" data-slide-to="{{ forloop.counter0 }}" class="col-md-3 {% if forloop.first %}active{% endif %}">
          <img src="/media/images/thumbnail/{{ webimage.filename }}" class="img-responsive center-block">
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
  {% endwith %}

    <div class="page-header2 col-md-6">
        <h1>{{ image.title }}</h1>
        <p>Galleries: {% for tag in image.tags.all %}
            {% if tag.slug != 'home' %}
                <a href="{% url 'image_index' tag.slug %}">{{ tag.name }}</a>
            {% endif %}
        {% endfor %}</p>
    </div>
    <div class="col-md-6 image-description">{{ image.description|safe }}</div>

    {% if products.all|length > 0 %}
    <div class="col-md-6 products">
        <h2>Products</h2>
        <div class="row">
        {% for product in products.all %}
            <div class="col-md-6">
            {% if product.image %}
                <a class="thumbnail thumbnail2" href="{% url 'product_detail' product.image.slug %}__{{ product.product_type.slug }}">
            {% endif %}
            {% if not product.image %}
                <a class="thumbnail thumbnail2" href="{% url 'product_detail' product.product_type.slug %}">
            {% endif %}
                    <div class="caption">
                        <p>
                            {% if product.image %}{{ product.image.title }} - {% endif %}
                            {{ product.product_type.displayname_final }}
                        </p>
                    </div>            {% with webimage=product.webimages.first %}
                    <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
            {% endwith %}

                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
