{% extends "mainapp_base.html" %}

{% block content %}
<h1>{{ pagetitle }}</h1>
{% if num_images == 0 %}
  <p>No images found</p>
{% else %}
  {% include "image/categories_panel.html" %}
  {% for gallery in gallery_images %}
    {% if forloop.counter > 1 %}
      <h2>{{ gallery.gallery.name }}</h2>
    {% endif %}
    <div class="row gallery">
    {% for image in gallery.images %}
        <div class="col-xs-6 col-md-3"><a class="thumbnail" href="{% url 'image_detail' image.slug %}">
            {% with webimage=image.webimages.first %}
                <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
            {% endwith %}
            <div class="caption">
                <p>{{ image.title }}</p>
            </div>
        </a></div>
    {% endfor %}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
