{% extends "mainapp_base.html" %}

{% block content %}
<h1>{{ pagetitle }}</h1>
{% if num_images = 0 %}
  <p>No images found</p>
{% else %}
  {% include "image/categories_panel.html" %}
  {% for image_tag in image_tag_images %}
    {% if forloop.counter > 1 %}
      <h2>{{ image_tag.tag.name }}</h2>
    {% endif %}
    <div class="row gallery">
    {% for image in image_tag.images %}
        <div class="col-md-3"><a class="thumbnail" href="{% url 'image_detail' image.slug %}">
            {% with webimage=image.webimages.first %}
                <img class="galleryitem-thumbnail" src="/media/images/thumbnail/{{ webimage.filename }}" alt="{{ webimage.name }}" />
            {% endwith %}
            <div class="caption">
                <p>{{ image.title }}</p>
            </div>
        </a></div>
    {% endfor %}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
