Django==1.10.5
django-carton==1.2.1
django-countries==4.0
django-crispy-forms==1.6.1
django-paypal==0.3.3
djangorestframework==3.5.3
gunicorn==19.6.0
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.2
pytz==2016.10
requests==2.13.0
six==1.10.0
South==1.0.2
sqlparse==0.2.2
